.page {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-top: 5rem;
}

.hWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.heading {
    font-size: 2rem;
    font-weight: 900;
}

.password {
    min-width: 330px;
    max-width: 400px;
    height: 150px;
    min-height: 150px;
    outline: none;
    resize: vertical;
    border-radius: 0;
    font-family: monospace
}

.lengthWrapper,
.numsWrapper,
.charsWrapper {
    display: flex;
    gap: 0.25rem;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.lengthWrapper {
    justify-content: start;
    margin-block: 0.5rem;
}

.options {
    display: flex;
    flex-direction: column-reverse;
}

.usage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    gap: 1rem;
}

.savePassword,
.copyPassword {
    padding: 0.5rem 0.809rem;
    font-size: 0.9025rem;
    border: none;
    cursor: pointer;
    transition: all 150ms;
    color: #000;
    background: white;
    border: 1px solid black;
    flex: 1;

    &:active {
        scale: 0.95;
    }
}

.copyPassword {
    border: 1px dashed black;

    &:hover {
        background: dodgerblue;
        color: white;
        border: 1px dashed dodgerblue;
    }
}

.savePassword {
    background: #000;
    border-color: black;
    color: white;

    &:hover {
        color: #000;
        border-color: black;
        background: white;
    }
}

.savedPasswords {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    gap: 0.25rem;
    min-width: 330px;
    max-width: 400px;

    li {
        font-size: 12px;
        list-style-type: decimal-leading-zero;
        word-break: break-all;
        user-select: text;
        background: rgba(245, 245, 245, 0.0544);
        border: 1px solid rgba(128, 128, 128, 0.1306);
        position: relative;
        padding: 1rem;
        padding-bottom: 1.25rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        letter-spacing: 2px;
        font-family: monospace;

        div {
            position: absolute;
            bottom: 0;
            right: 0;
            font-weight: bold;
            font-size: 9px;
            background: linear-gradient(133deg, hotpink, dodgerblue);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            width: 32px;
            letter-spacing: initial;
            font-family: Azeret Mono;
            margin-bottom: 5px;
            margin-right: 5px;
            /* border-radius: 50%; */
            display: flex;
            justify-content: center;
            align-items: center;
            user-select: none;
            isolation: isolate;
        }
    }
}